{
  "env": { "browser": true },
  "extends": "airbnb-base",
  "rules": {
    "no-console":"off",
    "no-use-before-define": ["warn", { "functions": false, "variables": true}],
    "consistent-return":"off"
    }
}
