@import "./site.css";

main {
    --cyan-materialdesign-500:  #00BCD4;
    --cyan-materialdesign-50:   #E0F7FA;
    --cyan-materialdesign-800:  #00838F;
    --green-materialdesign-A400: #00E676;
    padding: 0 25% 0 25%;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    flex: auto 0 auto;
}

.history {
    align-self: flex-end;
}

.history input {
    outline: solid thin black;
    margin-right: 6px;
}

.player {
    flex: 1 0 auto;
    /*outline: solid thin red;*/
}

.player-menu {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
}


.player-menu-button {
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
}

.player-menu-button:active {
    background-color: var(--cyan-materialdesign-500);
}

.player-menu-button:focus {
    outline: none;
}

.player-menu-button-icon, .player-menu-button-icon path{
    width: 32px;
    height: 32px;
    stroke-width: 1px;
    stroke: var(--cyan-materialdesign-800);
}

.player-menu-button-icon.is-active path {
    stroke: var(--green-materialdesign-A400);
}
